@import "assets/styles/variables.scss";

.notifications {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: $blue;
  color: white;

  label {
    font-size: 18px;

    &.winner {
      margin-top: 5px;
    }
  }
}
